{% extends 'base.html' %}
{% load static %}
{% block title %}Server Error{% endblock %}
{% block content %}

<section class="d-flex justify-content-center align-items-center bg-white text-center" style="min-height: calc(100vh - 130px);">
    <div>
        <h1>Server error</h1>
        <img src="{% static 'images/pexels-photo-20209009.webp' %}" class="img-thumbnail w-50" alt="404 - black hole">
        <div class="mt-4">
            <strong><a href="/">Return to homepage</a></strong>
        </div>
    </div>
</section>

{% endblock %}
