{% extends 'base.html' %}
{% load static%}
{% block title %} Add Comment {% endblock %}
{% block content %}
<div class="container-suv" style="background: url('{% static image_url %}') no-repeat fixed top right / cover;">
    <section class="container-banner" style="padding: 7rem;">
        <div class="container-sub steps--background-white rounded">
            <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="container-banner">
                        <button type="submit" class="btn btn-primary">Add Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}