{% extends 'base.html' %}
{% load static %}
{% load truncate_html %}

{% block title %} Create a new blog post! {% endblock %}
{% block content %}
{% with image_url='/images/background.webp' %}
<div class="container-sub" style="background: url('{% static image_url %}') no-repeat fixed top right / cover;">

    {% if user.is_authenticated %}

    <div class="container-form-lg">
        <div class="container-banner steps--background-white rounded">
            <div class="form-group">
                <form method="POST" enctype="multipart/form-data" action="{% url 'add-newpost' %}">
                    {% csrf_token %}
                    
                    <!-- Add hidden author field manually -->
                    <input type="hidden" name="author" value="{{ user.id }}">

                    {{ form.as_p }}

                    <div class="container-custom mb-4">
                        <input type="submit" value="Post" class="btn btn-primary rounded custom-submit ">
                    </div>
                </form>
            </div>
            <div class="container-custom">
                <strong><a href="{% url 'frontpage-blogpost' %}" aria-label="Go to front page">Back To Blog</strong>
            </div>
        </div>
        
    </div>
   
    {% else %}
    <div>
        <h1 style="color: var(--main-text-color);">No access to this page</h1>
        <div class="container-custom mt-4">
            <strong><a href="{% url 'frontpage-blogpost' %}" aria-label="Go to front page">Back To Blog</strong>
        </div>
    </div>

    {% endif %}
</div>
{% endwith %}
{% endblock %}
