{% extends 'base.html' %}
{% block title %} This is article details {% endblock %}
{% block content %}
<h1>article detail post</h1>

<h2> {{ post.title }}</h2>
<small> 
    By: {{ post.author.frist_name }} - {{ post.author.last_name }} - {{ post.post_date }}
</small>
<br>
<hr>
<br>
{{ post.body }}
<hr>

<br>
<br>

<a href="{% url 'homepage' %}" class="alert alert-secondary" >Back to homepage</a>
<br>
<br>
<br>
<a href="{% url 'frontpage-blogpost' %}" class="alert alert-secondary">Back to Frontpage blog post</a>
<br>
{% endblock %}