{% extends 'base.html' %}
{% load static %}
{% block title %} This is article details {% endblock %}
{% block content %}

<h1>Article Details</h1>

<section class="container-profile">
    <div class="card steps--background-white" style="width: auto;">

        
        
        <div class="container-custom">
            {% if post.image.url %}
            <img src="{{ post.image.url }}" class="img-thumbnail" alt="post-image">
            {% else %}
            <img src="{% static 'images/no-image-available.jpg' %}" class="img-thumbnail" alt="no-image-available">
            {% endif %}
        </div>    

        <div class="card-body">
            <div class="container-custom">
            <small>Posted: {{ post.post_date }}  By:</small>
            <small class="last-name">{{ post.author.last_name }} </small> 
            <small class="first-name">, {{ post.author.first_name }}</small>
            <small>Category: {{ post.category }}</small>
            </div>
            <h3 class="container-frontpage">{{ post.title }}</h3>
            <div class="container-sub">
                {{ post.body }}
            </div>
        </div>

          {% if user.is_authenticated %}
          {% if user == post.author %}
          <div class="container-custom" >
            <a href="{% url 'update-post' post.pk %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'delete-post' post.pk %}" class="btn btn-danger">Delete</a>
          </div>
          {% endif %}
          {% endif %}
    </div>
    
</section>



{% endblock %}