{% extends 'base.html' %}
{% load static %}
{% block title %} This is article details {% endblock %}
{% block content %}
<!-- 
<h4>Article ...</h4> -->

{% with image_url='/images/background.webp' %}
<div class="container-sub" style="background: url('{% static image_url %}') no-repeat fixed top right / cover;">

    <section class="container-sub">
        <div class="steps--background-white rounded mb-2">
            <div class="container-custom">
                <h3 class="mt-6">{{ post.title }}</h3>
                {% if post.image.url %}
                <img src="{{ post.image.url }}" class="img-thumbnail w-50" alt="post-image">
                {% else %}
                <img src="{% static 'images/no-image-available.jpg' %}" class="img-thumbnail" alt="no-image-available">
                {% endif %}
            </div>

            <div class="container">
                <div class="container-custom">
                    <small>Posted: <strong>{{ post.post_date }}</strong> By: </small>
                    <a href="{% url 'author-profile' post.author.id %}">
                        <small> <strong>{{ post.author.first_name }} {{ post.author.last_name }}</strong></small>
                    </a>
                    <small>Category: <strong>{{ post.category }}</strong> </small>
                </div>
                <div class="container-sub">
                    {{ post.body|safe }}
                </div>
            </div>
            {% if user.is_authenticated %}
            {% if user == post.author %}
            <div class="container-custom">
                <a href="{% url 'update-post' post.pk %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'delete-post' post.pk %}" class="btn btn-danger">Delete</a>
            </div>
            {% endif %}
            {% endif %}
            <div class="container-custom">
                <form action="{% url 'like-post' post.pk %}" method="POST">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                    {% if liked %}
                    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">
                        <i class="bi bi-hand-thumbs-down"></i> Unlike
                    </button>
                    {% else %}
                    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-secondary btn-sm">
                        <i class="bi bi-hand-thumbs-up"></i> Like
                    </button>
                    {% endif %}
                    {% else %}
                    <small class="italicize">&#40;must be logged in to like&#41;</small>
                    {% endif %}
                    <small> <strong>{{ total_likes }}</strong> Likes</small>
                </form>
                <hr>
                <div class="container-banner">
                    <h3>Comments here ...</h3>
                    {% if user.is_authenticated %}
                    <a href="{% url 'add-comment' post.pk %}" class="btn btn-primary">Add
                        Comment</a>
                    {% else %}
                    <span class="btn btn-secondary">Add Comment</span>
                    <br>
                    <small class="italicize">&#40;must be logged in to comment&#41;</small>
                    {% endif %}
                    {% if not post.comments.exists %}
                    <div class="container-custom"><strong>
                            <p>No Comments Yet</p>
                        </strong></div>
                    {% else %}
                    {% for comment in post.comments.all %}
                    <div class="container-sub">
                        <div class="container">
                            <small>{{ comment.body }}</small>
                        </div>
                        <div class="container">
                            <small>By: <strong>{{ comment.name }}</strong></small> <small>Date Added:</small>
                            <small><strong>{{ comment.date_added }}</strong></small>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <strong><a href="{% url 'frontpage-blogpost' %}" aria-label="Go to front page">Back To Blog</strong>
            </div>

        </div>
    </section>
</div>
{% endwith %}
<script>
    var name = "{{ user.id }}";
    document.getElementById("js_id").value = name;
</script>
{% endblock %}