{% extends 'base.html' %}
{% load static %}
{% block title %} {{ cats }} {% endblock %}
{% block content %}

{% with image_url='images/background.webp' %}
<div class="sub-container" style="background: url('{% static image_url %}') no-repeat fixed top right / cover;">
    {% if category_posts %}
    <h2 style="padding: 2rem;">Posts in {{ cats }}</h2>
    <div class="container-sub">
        <ul>
            {% for post in category_posts %}
            <li>
                <div class="steps--background-white rounded">
                    <div class="container-sub">
                        <div class="container-custom">
                            {% if post.image %}
                            <img src="{{ post.image.url }}" class="img-thumbnail w-25" alt="post-image {{ post.image.url }}">
                            {% else %}
                            <img src="{% static 'images/no-image-available.jpg' %}" class="img-thumbnail" style="max-width: 25%; height: auto;" alt="no-image-available">
                            {% endif %}
                        </div>
                        <h3><strong>{{ post.title }}</strong></h3>
                        Author: <strong>{{ post.author }}</strong> Category: <strong>{{ post.category }}</strong>
                       
                        Posted: <strong>{{ post.post_date }}</strong>
                        <br>
                        {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                        <p>
                            <a href="{% url 'update-post' post.pk %}"> Edit </a> or
                            <a href="{% url 'delete-post' post.pk %}">Delete Post</a>
                        </p>
                        {% endif %}
                        {% endif %}
                        <br>
                        {{ post.body }} ...
                        <br>
                        <a href="{% url 'article-detail' post.pk %}"><strong>read more</strong></a>
                    </div>
                </div>
                <br>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <div class="container-sub" style="height: 100vh;">
        <h2>No Posts Found for {{ cats }}</h2>
    </div>
    {% endif %}
</div>
{% endwith %}
{% endblock %}
