{% extends 'base.html' %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}


{{ post.category_posts }}

{% if category_posts %}



<h1>Posts in {{ cats }}</h1>
<div class="container-banner">
    <ul>
        {% for post in category_posts %}
        <li>
            <h4><strong>{{ post.title }}</strong></h4>

            author: {{ post.author }} <br>
            cat: {{ post.category }} - {{ post.post_date }}
            <br>

            {% if user.is_authenticated %}
            {% if user.id == post.author.id %}

            <p>
                <a href="{% url 'update-post' post.pk %}"> Edit </a> or

                <a href="{% url 'delete-post' post.pk %}">Delete Post</a>
            </p>
            {% endif %}

            {% endif %}

            <!-- {{ post.body }} -->
            <br>
            {{ post.body|slice:":200" }}
            <br>

            <a href="{% url 'article-detail' post.pk %}">
                <strong>read more</strong></a> {{ post.auth }} <br>


            <hr>


        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<h2>No Posts Found for {{ cats }}</h2>
{% endif %}
{% endblock %}