{% extends 'base.html' %}
{% load static %}
{% load truncate_html %}
{% block title %} {{ cats }} {% endblock %}
{% block content %}

{% with image_url='images/background.webp' %}
<div class="container-sub" style="background: url('{% static image_url %}') no-repeat fixed top right / cover;">
    {% if category_posts %}
    <h1 style="padding: 1rem; color:var(--main-text-color)">Posts in {{ cats }}</h1>
    <div class="container-sub">
        <ul>
            {% for post in category_posts %}
            <li>
                <div class="steps--background-white rounded">
                    <div class="container-sub">
                        <div class="container-custom">
                            {% if post.image %}
                            <img src="{{ post.image.url }}" class="img-thumbnail w-25"
                                alt="post-image {{ post.image.url }}">
                            {% else %}
                            <img src="{% static 'images/no-image-available.jpg' %}" class="img-thumbnail"
                                style="max-width: 25%; height: auto;" alt="no-image-available">
                            {% endif %}
                        </div>
                        <h2>{{ post.title }}</h2>
                        <small>Author: <strong>{{ post.author }}</strong> Category:
                            <strong>{{ post.category }}</strong></small>

                        <small>Posted: <strong>{{ post.post_date }}</strong></small>
                        <br>
                        {% if user.is_authenticated and user.id == post.author.id %}
                        <p>
                            <a href="{% url 'update-post' post.pk %}"> Edit </a> or
                            <a href="{% url 'delete-post' post.pk %}">Delete Post</a>
                        </p>

                        {% endif %}
                        <br>
                        <div class="container"> 
                            
                            {{ post.body|truncate_html:300 }} ..
                            <a href="{% url 'article-detail' post.pk %}"><strong><small>[Read More]</small></strong></a>
                            
                        </div>
                        
                        <br>
                        

                        <div class="container-custom">
                            <a href="{% url 'frontpage-blogpost' %}" aria-label="Go to front page"><strong>Back To
                                    Blog</strong></a>
                        </div>
                    </div>
                </div>
                <br>
            </li>
            {% endfor %}
        </ul>
        <br>
    </div>
    {% else %}
    <div class="container" style="height: 80vh;">
        <div class="container" style="padding-top: 5rem;">
            <div class="container-custom steps--background-white rounded">

                <h1 style="text-align: center;">No Posts Found {{ cats }}</h1>

                <div class="container-custom">
                    <a href="{% url 'frontpage-blogpost' %}" aria-label="Go to front page"><strong>Back To
                            Blog</strong></a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endwith %}
{% endblock %}