{% extends 'base.html' %}
{% block title %} Blog Category List {% endblock %}
{% block content %}
{% load static %}
{% with image_url='images/background.webp' %}
<section class="container-sub wapper" style="background: url('{% static image_url %}') no-repeat fixed top right / cover;">
    <div class="container-custom">
        <h1 style="color: var(--main-text-color);">Category List</h1>
    </div>
    {% for category in cat_menu_list %}
    <section>
        <div class="container-custom steps--background-white p-4 mt-2 mb-5 shadow-sm rounded"
            style="max-width: 800px; width: 100%; text-align: center;">
            <div class="container-list">
                <div class="container mb-2">
                    <h2 style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); padding-top: 0.75rem;">{{ category.name }}
                    </h2>
                    <div class="container">
                        {{ category.category_discription }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
    <div class="container-custom">
        <a href="{% url 'frontpage-blogpost' %}" class="btn btn-secondary mb-3">Back To Blog</a>
    </div>
</section>
{% endwith %}
{% endblock %}