{% extends 'base.html' %}
{% block title %}Delete Blog Post{% endblock %}
{% block content %}

{% if user.is_authenticated %}

<h4>Delete Blog Post</h4>

    <section class="content">
        <div class="card steps--background-white">
            <div class="row container-banner">
                <h3><strong>Delete post: </strong> <i> {{ post.title }} </i> </h3>
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="delete-post">
                            <strong>Are you sure?</strong> 
                        </div>    
                        <br>
                        <br>
                        <div class="container-custom">
                            <button type="submit" class="btn btn-primary">Delete Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endif %}

{% endblock %}