<!-- Footer Start -->

<footer class="footer bg-dark">
    <div class="d-flex justify-content-between align-items-center py-3 border-highlight">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="me-2 text-muted text-decoration-none">
          <span class="color-hyperlink">&copy; 2024 Astro Blog by Filip Van Elslande</span>
        </a>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3 "><a class="color-hyperlink" href="https://x.com/?lang=en"><i class="bi bi-twitter"></i></a></li>
        <li class="ms-3"><a class="color-hyperlink" href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a></li>
        <li class="ms-3"><a class="color-hyperlink" href="#"><i class="https://www.facebook.com/"></i></a></li>
      </ul>
    </div>
  </footer>
