{% extends 'base.html' %}
{% load static %}
{% load truncate_html %}

{% block title %}Astro Share Blog{% endblock %}
{% block meta %}
  <meta name="description" content="A blog about astronomy, latest posts, and insights into the universe. Stay updated with the latest in the world of astronomy.">
{% endblock %}
{% block content %}

{% with image_url='/images/background.webp' %}
<div class="container-sub" style="background: url('{% static image_url %}') no-repeat fixed top right / cover;">
  <h4>Latest Posts</h4>

  {% include 'pagination.html' %}
  
  <br>

  {% for post in posts %}
  <section class="post {% if forloop.counter0|divisibleby:2 %} bg-l-gray {% else %} bg-d-gray {% endif %}">
    <div class="d-md-flex {% if forloop.counter0|divisibleby:2 %} flex-row-reverse {% endif %}">
     
      <div class="image-container">
        {% if post.image.url %}
        <img src="{{ post.image.url }}" class="img-thumbnail" alt="post-image" width="200" height="92" loading="lazy">
        {% else %}
        <img src="{% static 'images/no-image-available.jpg' %}" class="img-thumbnail" alt="no-image-available" width="200" height="92" loading="lazy">
        {% endif %}
     </div>

      <div class="content-container">
        <h3>{{ post.title }}</h3>
        <div class="container">
          {{ post.body|truncate_html:300 }} ... <a href="{% url 'article-detail' post.pk %}" class="color-hyperlink">
          <small><strong>Read more about {{ post.title }}</strong></small></a>
        </div>
        <p class="italicize">Posted: <strong>{{ post.post_date }}</strong> Category: <strong>{{ post.category }}</strong> 
          By: <strong>{{ post.author.last_name }}</strong>, <strong>{{ post.author.first_name }}</strong>
        </p>

        {% if user.is_authenticated %}
        {% if user == post.author %}
        <div class="container">
          <a href="{% url 'update-post' post.pk %}" class="btn btn-warning">Edit</a>
          <a href="{% url 'delete-post' post.pk %}" class="btn btn-danger">Delete</a>
        </div>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </section>
  <hr>
  {% endfor %}

  {% include 'pagination.html' %}

  <div class="container-custom">
    <div class="back-to-top-button" style="padding-top: 1rem;">
      <a href="#" class="btn btn-primary color-hyperlink-footer">Back to Top</a>
    </div>
  </div>

</div>


{% endwith %}
{% endblock %}