{% extends 'base.html' %}
{% load static %}

{% block title %}Astro Share Blog!!{% endblock %}

{% block content %}
<h4>Latest posts,</h4>
<div class="content">
  <div class="d-flex justify-content-between align-items-center">
    
    <span class="current mr-3">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
    <container class="pagination d-flex align-items-center">
      <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% else %}
        <a href="?page=1">&laquo; first</a>
        <span>previous</span>
        {% endif %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% else %}
        <span>next</span>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </container>
  </div>

  <br>


  {% for post in posts %}
  <section class="post {% if forloop.counter0|divisibleby:2 %} bg-l-gray {% else %} bg-d-gray {% endif %}">
    <div class="d-md-flex">
      <div class="black-border">
        {% if post.image.url %}
        <img src="{{ post.image.url }}" class="img-thumbnail-500 img-small" alt="post-image">
        {% else %}
        <img src="{% static 'images/no-image-available.jpg' %}" class="img-thumbnail-500 img-small"
          alt="no-image-available">
        {% endif %}

      </div>
      <div>
        <h5 class="container-frontpage">
          <p>{{ post.title }}</p>
        </h5>
        <div class="container">
          {{ post.body|slice:":350" }} ... <a href="{% url 'article-detail' post.pk %}" class="color-hyperlink">read
            more</a>
        </div>
        <p class="italicize"> Posted: {{ post.post_date }} Category:
          <a href="{% url 'category' post.category|slugify %}" class="color-hyperlink">{{ post.category }}</a>
          By:<small class="last-name">{{ post.author.last_name }}</small>,
          <small class="first-name">{{ post.author.first_name }}</small>
        </p>
        {% if user.is_authenticated %}
        <p>
          <small>
            <a href="{% url 'update-post' post.pk %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'delete-post' post.pk %}" class="btn btn-danger">Delete Post</a>
          </small>
        </p>
        {% endif %}
      </div>
    </div>
  </section>
  <hr>
  {% endfor %}
 

{% endblock %}