{% load static %}
<!-- Header -->
<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'homepage' %}"  aria-label="Back to Homepage">
                <i class="bi bi-house"></i>
            </a>
            <a class="navbar-brand" href="{% url 'frontpage-blogpost' %}" aria-label="Go to front page">
                <i class="bi bi-arrow-left"></i>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav me-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add-newpost' %}">Add Post</a>
                    </li>
                    {% endif %}
                    {% if cat_menu %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Categories List
                        </a>

                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            {% for item in cat_menu %}
                            <li>
                                <a class="dropdown-item" href="{% url 'category' item %}">
                                    {{ item }}
                                </a>
                            </li>

                            {% endfor %}
                            <li><hr></li>
                            <li><a class="dropdown-item" href="{% url 'category-list' %}">Blog Post Categories</a></li>
                            
                        </ul>
                                                
                    </li>
                    {% endif %}
                </ul>

                <!-- Add search form here -->
                <form class="d-flex" action="{% url 'search' %}" method="GET">
                    <input class="form-control me-3" type="search" name="query" placeholder="Search posts" aria-label="Search">
                    <button class="btn btn-outline-light m-0" type="submit">Search</button>
                </form>

                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    {% if user.profile.bio %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'edit-profile-page' user.profile.id %}">
                            Logged in as:<strong style="color: white;"> {{ user.username }}</strong></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create-profile-page' %}">
                            Logged in as:<strong style="color: white;"> {{ user.username }}</strong></a>
                    </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

</header>
