{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Montserrat:wght@400;700&display=swap"
    rel="stylesheet">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

  <title>Astro Blog</title>
</head>

<body>
  <!-- Header Start -->
  <header class="header p-3 position-absolute start-0 top-0 end-0">
    <div class="d-flex justify-content-between align-items-center">
      <a href="{% url 'frontpage-blogpost' %}" class="text-decoration-none text-white fs-5 fw-bold">Astro Blog</a>
    </div>
  </header>
  <!-- Header End -->

  <!-- Category Hero -->
  <section class="hero" id="top-page">
    <div class="hero__overlay"></div>
    <video playsinline autoplay muted loop loading="lazy" class="hero__video">
      <source src="{% static 'images/857136-hd_1280_720_24fps.mp4' %}" type="video/mp4">
    </video>

    <div class="hero__content container-custom position-relative">
      <div class="d-flex h-100 align-items-center hero__content-width">
        <div class="container-banner text-white">
          <h1 class="hero__head">Share the latest space news</h1>
          <p class="hero__text">Welcome to Cosmic Chronicles,
            your gateway to the wonders of the universe!
            Whether you’re an avid stargazer,
            an aspiring astronomer,
            or simply someone fascinated by the mysteries
            of the cosmos, this blog is your destination for all
            things space.
            <br>
            Here, we’ll explore the latest discoveries,
            delve into celestial events,
            and unravel the secrets of the stars and planets.
            Join us as we embark on a journey through the vast expanse of the universe,
            bringing the marvels of space right to your screen.
            Buckle up and get ready to ignite your curiosity about the infinite night sky!
          </p>
          <a href="{% url 'frontpage-blogpost' %}" class="mt-2 btn btn-outline-light" role="button">Go To The
            Blog</a>
        </div>
      </div>
    </div>

    <a href="#newsletter-subscribtion">
      <div class="hero__scroll-btn">
        Subscribe <i class="bi bi-arrow-down-short"></i>
      </div>
    </a>
  </section>
  <!-- Hero End -->

  <div class="container-custom steps--background-black">
    <div class="d-md-flex justify-content-center">
      <div class="row justify-content-center">
        <div class="col-md-9 text-center">
          <h4>Astronomy Picture of the Day</h4>

          <!-- Container for the media -->
          <div id="media-container" class="img-thumbnail">
            <!-- Image element, hidden initially -->
            <img id="image" src="" alt="Astronomy Picture of the Day" class="img-fluid d-none" loading="lazy">

            <!-- Video element, hidden initially -->
            <video id="video" controls class="img-fluid d-none" loading="lazy">
              <source id="video-source" src="" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>

          <h6 id="title">*</h6>
          <div class="container-custom">
            <a href="{% url 'nasa-picture-of-the-day' %}">Read more</a>
          </div>
        </div>
      </div>

      <script src="{% static 'js/script.js' %}"></script>


      <div class="container-banner">
        <h3 class="text-center">Latest post ...</h3>
        <div class="container">
          {% with posts|slice:":1" as first_post_list %}
          {% if first_post_list.0 %}
          <h5>
            <a href="{% url 'article-detail' first_post_list.0.pk %}">{{ first_post_list.0.title }}</a>
          </h5>
          <small class="text-left">
            <p>Posted on: {{ first_post_list.0.post_date }} By: {{ first_post_list.0.author.last_name }},
              {{ first_post_list.0.author.first_name }} </p>
          </small>
          {% else %}
          <p>No post available.</p>
          {% endif %}
          {% endwith %}
        </div>
        <div class="container">
          {% with posts|slice:"1:2" as second_post_list %}
          {% if second_post_list.0 %}
          <h5>
            <a href="{% url 'article-detail' second_post_list.0.pk %}">{{ second_post_list.0.title }}</a>
          </h5>
          <small class="text-left">
            <p>Posted on: {{ second_post_list.0.post_date }} By: {{ second_post_list.0.author.last_name }},
              {{ second_post_list.0.author.first_name }} </p>
          </small>
          {% else %}
          <p>No second post available.</p>
          {% endif %}
          {% endwith %}
        </div>
        <div class="container">
          {% with posts|slice:"2:3" as third_post_list %}
          {% if third_post_list.0 %}
          <h5>
            <a href="{% url 'article-detail' third_post_list.0.pk %}">{{ third_post_list.0.title }}</a>
          </h5>
          <small class="text-left">
            <p>Posted on: {{ third_post_list.0.post_date }} By: {{ third_post_list.0.author.last_name }},
              {{ third_post_list.0.author.first_name }} </p>
          </small>
          {% else %}
          <p>No third post available.</p>
          {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>

    <!-- Section Category One Start -->
    <section class="steps steps--background-white">
      <div class="row container">
        <div class="col-12 col-sm-6 d-md-flex justify-content-md-center">
          <img src="{% static 'images/pexels-chuck-conway-350496-2890467.jpg' %}" class="img-responsive"
            alt="black-hole">
        </div>
        <div class="col-12 col-sm-6 align-self-center justify-content-md-center">
          <div class="steps__content-width">
            <h1 class="h2 mb-4">Astro Physics</h1>
            <p class="mb-4">Astrophysics is a branch of astronomy that focuses on understanding the physical properties
              and underlying processes of celestial objects and phenomena. It combines principles of physics and
              chemistry to study stars, planets, galaxies, black holes, and the universe as a whole. Through
              observational and theoretical methods, astrophysicists seek to uncover the nature of cosmic phenomena, the
              behavior of matter and energy in space,
              and the fundamental laws governing the universe's structure and evolution.
              Topics in astrophysics include the life cycles of stars,
              the behavior of galaxies,
              the properties of dark matter and dark energy,
              and the origins and fate of the universe.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Section One End -->

    <!-- Section Category Two Start -->
    <section class="steps steps--background-black">
      <div class="row container">
        <div class="col-12 col-sm-6 d-md-flex justify-content-md-center order-sm-1">
          <img src="{% static 'images/pexels-pixabay-73910.jpg' %}" class="img-responsive" alt="Missions Mars">
        </div>
        <div class="col-12 col-sm-6 align-self-center justify-content-md-center">
          <div class="steps__content-width">
            <h1 class="h2 mb-4">Space Missions</h1>
            <p class="mb-4">Space missions are complex and highly coordinated efforts
              aimed at exploring outer space and
              conducting scientific research beyond Earth’s atmosphere.
              They involve sending spacecraft, satellites,
              or probes to gather data,
              perform experiments,
              or achieve specific objectives.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Section Two End -->

    <!-- Section Category Three Start -->
    <section class="steps steps--background-white">
      <div class="row container">
        <div class="col-12 col-sm-6 d-md-flex justify-content-md-center">
          <img src="{% static 'images/particle-shower.jpg' %}" class="img-responsive" alt="Particle Collisions">
        </div>
        <div class="col-12 col-sm-6 align-self-center justify-content-md-center">
          <div class="steps__content-width">
            <h1 class="h2 mb-4">Particle Physics</h1>
            <p class="mb-4">
              Particle physics is a branch of physics that studies
              the fundamental constituents of matter and radiation,
              and the interactions between them. It aims to understand
              the most basic building blocks of the universe
              and the forces that govern their behavior.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Section Three End -->

    <!-- Section Category Four Start -->
    <section class="steps steps--background-black">
      <div class="container-custom">
        <div class="row container">
          <div class="col-12 col-sm-6 d-md-flex justify-content-md-center order-sm-1">
            <img src="{% static 'images/pexels-pixabay-87611.jpg' %}" class="img-responsive" alt="Solar Corona"
              class="img-fluid pb-4 steps__section-thumbnail" width="553" height="746" loading="lazy">
          </div>
          <div class="col-12 col-sm-6 align-self-center justify-content-md-center">
            <div class="steps__content-width">
              <h1 class="h2 mb-4">Solar Storms</h1>
              <p class="mb-4">
                Solar storms, also known as space weather events,
                are disturbances on the Sun that can have significant effects
                on the solar system, including Earth.
                These storms are primarily caused by solar activity such as solar flares and coronal mass ejections
                (CMEs).
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section Four End -->

    <!-- Section Contributors -->
    <section class="container-sub steps--background-white">
      <div class="d-md-flex justify-content-center">
        <div class="container">
          <h4 class="text-center">Our Latest Contributors on the Blog</h4>
          <div class="container-custom">
            {% if profile_names %}
            <ul>
              {% for name in profile_names %}
              <li>{{ name }}</li>
              {% endfor %}
            </ul>
            {% else %}
            <p>No profiles available.</p>
            {% endif %}
          </div>
        </div>
        <div class="container-custom">
          <h4>Track The ISS</h4>
          <div class="iframe-container">
            <iframe class="responsive-iframe"
              src="https://isstracker.pl/en/widget/map?&disableInfoBox=1&lang=en&z=4&mapType=satellite&units=metric&preloader=1&showSatTooltip=1&dayNightLayer=1&showFutureOrbit=1"
              style="border: 1px solid rgb(0, 163, 211); border-radius: 0px;"></iframe>
          </div>
          <a href="{% url 'iss-location' %}" class="text-muted">Go To the ISS</a>
        </div>
      </div>
    </section>

    <!-- Newsletter Subscription -->
    <section class="container-sub margin-sub" id="newsletter-subscribtion">
      <div class="row">
        <h1>Subscribe to our Newsletter</h1>
        <form method="POST" action="{% url 'subscribe' %}">
          {% csrf_token %}
          <div class="container mb-3">
            <label for="exampleFormControlInput1" class="form-label">Login: </label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="login" placeholder="your name">
          </div>
          <div class="container mb-3">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="exampleFormControlTextarea1" name="email"
              placeholder="name@example.com" required>
            <br>
            <input type="submit" value="Submit" class="btn btn-primary rounded custom-submit color-hyperlink">
          </div>
        </form>
      </div>
    </section>
    <!-- Newsletter Subscription End -->

    <div class="container-custom back-to-top-button">
      <a href="#" class="color-hyperlink">Back to Top</a>
    </div>

    <!-- Footer Start -->
    <footer class="footer bg-dark text-white">
      <div class="d-flex justify-content-between align-items-center py-3 border-highlight">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="me-2 text-muted text-decoration-none">
            <i class="bi bi-cup"></i>
            <span>&copy; 2024 Astro Blog</span>
          </a>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="color-hyperlink" href="#"><i class="bi bi-twitter"></i></a></li>
          <li class="ms-3"><a class="color-hyperlink" href="#"><i class="bi bi-instagram"></i></a></li>
          <li class="ms-3"><a class="color-hyperlink" href="#"><i class="bi bi-facebook"></i></a></li>
        </ul>
      </div>
    </footer>
    <!-- Footer End -->

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
  </div>
</body>

</html>
