{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self'; script-src 'self' https://cdn.jsdelivr.net; style-src 'self' https://cdn.jsdelivr.net https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com https://cdn.jsdelivr.net; img-src 'self' data:; connect-src 'self'; media-src 'self'; frame-src 'self' https://isstracker.pl;">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Cosmic Chronicles is your gateway to the wonders of the universe! 
  Explore the latest discoveries, celestial events, and the secrets of the cosmos in our Astro Blog.">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="icon" href="{% static 'images/iss.ico' %}">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Montserrat:wght@400;700&display=swap"
    rel="stylesheet">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">

  <title>Astro Blog</title>
</head>

<body>
  <!-- Category Hero -->
  <section class="hero" id="top-page">
    <div class="hero__overlay">
      <video autoplay muted loop class="hero__video">
        <source src="{% static 'images/857136-hd_1280_720_24fps.mp4' %}" type="video/mp4">
      </video>
    </div>
    <div class="hero__content m-2 container-banner position-relative">
      <div class="d-flex h-100 align-items-center hero__content-width">
        <div class="container-list text-white hero__text-bg">
          <a href="{% url 'frontpage-blogpost' %}" class="mt-2 mb-4 btn btn-outline-light btn-contrast btn-wide" role="button">
            Go To The Astro Blog
        </a>
        
          <div class="container-sub">
            <h2 class="hero__head">Share the latest space news</h2>
            <p class="hero__text">
              Welcome to Astro Share Blog,
              your gateway to the wonders of the universe!
              Whether you’re an avid stargazer,
              an aspiring astronomer,
              or simply someone fascinated by the mysteries
              of the cosmos, this blog is your destination for all
              things space.
              <br>
              Here, we’ll explore the latest discoveries,
              delve into celestial events,
              and unravel the secrets of the stars and planets.
              Join us as we embark on a journey through the vast expanse of the universe,
              bringing the marvels of space right to your screen.
              <br>
              Buckle up and get ready to ignite your curiosity about the infinite night sky!
            </p>           
          </div>
        </div>
      </div>
    </div>

    <a href="#newsletter-subscription">
      <div class="hero__scroll-btn">
        Subscribe <i class="bi bi-arrow-down-short"></i>
      </div>
    </a>
  </section>
  <!-- Hero End -->

  <!-- section APOD -->
  <section class="steps steps--background-black">
    <div class="row container-custom">
      <div class="col-12 col-sm-6">
        <div class="col-12 mt-2 mb-4">
          <h3>Astronomy Picture of the Day</h3>
        </div>
        <div class="row container-banner justify-content-center">
          <div class="col-md-10 text-center">
            <img src="{% static 'images/apod-logo.webp'%}" class="img-fluid" alt="Astronomy Picture of the Day"
              loading="lazy">
          </div>
          <div class="container-custom mt-4">
            <a href="{% url 'nasa-picture' %}" class="color-hyperlink">
              <strong>Go to APOD</strong></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="container">
          <h3 class="text-center mb-4">Latest post ...</h3>
          <div class="container mb-4">
            {% with posts|slice:":1" as first_post_list %}
            {% if first_post_list.0 %}
            <h4><a href="{% url 'article-detail' first_post_list.0.pk %}" class="color-hyperlink">
              {{ first_post_list.0.title }}</a></h4>
            <small>Posted on: {{ first_post_list.0.post_date }} By: {{ first_post_list.0.author.last_name }},
              {{ first_post_list.0.author.first_name }}</small>
            {% else %}
            <p>No post available.</p>
            {% endif %}
            {% endwith %}
          </div>
          <div class="container mb-4">
            {% with posts|slice:"1:2" as second_post_list %}
            {% if second_post_list.0 %}
            <h4><a href="{% url 'article-detail' second_post_list.0.pk %}" class="color-hyperlink">
              {{ second_post_list.0.title }}</a></h4>
            <small>Posted on: {{ second_post_list.0.post_date }} By: {{ second_post_list.0.author.last_name }},
              {{ second_post_list.0.author.first_name }}</small>
            {% else %}
            <p>No second post available.</p>
            {% endif %}
            {% endwith %}
          </div>
          <div class="container mb-4">
            {% with posts|slice:"2:3" as third_post_list %}
            {% if third_post_list.0 %}
            <h4><a href="{% url 'article-detail' third_post_list.0.pk %}" class="color-hyperlink">
              {{ third_post_list.0.title }}</a></h4>
            <small>Posted on: {{ third_post_list.0.post_date }} By: {{ third_post_list.0.author.last_name }},
              {{ third_post_list.0.author.first_name }}</small>
            {% else %}
            <p>No third post available.</p>
            {% endif %}
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section APOD end -->

  <!-- Section Category One Start -->
  <section class="steps steps--background-white">
    <div class="row container-hero">
      <div class="col-12 col-sm-6 d-md-flex col">
        <img src="{% static 'images/pexels-chuck-conway-350496-2890468.webp' %}" alt="star-nebula"
          class="img-fluid pb-4 steps__section-thumbnail" width="553" height="746" loading="lazy">
      </div>
      <div class="col-12 col-sm-6  col">
        <div class="steps__content-width">
          <h1 class="h2 mb-4">Astro Physics</h1>
          <p class="p-3">Astrophysics is a branch of astronomy that studies the physical properties and processes of
            celestial objects and phenomena. It combines physics and chemistry to explore stars, planets, galaxies,
            black holes, and the universe. Astrophysicists use observational and theoretical methods to understand
            cosmic phenomena, matter, energy, and the universe's structure and evolution, covering topics like star life
            cycles, galaxy behavior, dark matter, dark energy, and the universe's origins and fate.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Section One End -->

  <!-- Section Category Two Start -->
  <section class="steps steps--background-black">
    <div class="row container-hero">
      <div class="col-12 col-sm-6 d-md-flex col order-sm-1">
        <img src="{% static 'images/pexels-pixabay-73910.webp' %}" alt="Missions Mars"
          class="img-fluid pb-4 steps__section-thumbnail" width="553" height="746" loading="lazy">
      </div>
      <div class="col-12 col-sm-6  col">
        <div class="steps__content-width">
          <h1 class="h2 mb-4">Space Missions</h1>
          <p class="p-3">Space missions are complex and highly coordinated efforts
            aimed at exploring outer space and
            conducting scientific research beyond Earth’s atmosphere.
            They involve sending spacecraft, satellites,
            or probes to gather data,
            perform experiments,
            or achieve specific objectives.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Section Two End -->

  <!-- Section Category Three Start -->
  <section class="steps steps--background-white">
    <div class="row container-hero">
      <div class="col-12 col-sm-6 d-md-flex col">
        <img src="{% static 'images/particle-shower.webp' %}" alt="Particle Collisions"
          class="img-fluid pb-4 steps__section-thumbnail" width="553" height="746" loading="lazy">
      </div>
      <div class="col-12 col-sm-6  col">
        <div class="steps__content-width">
          <h1 class="h2 mb-4">Particle Physics</h1>
          <p class="p-3">
            Particle physics is a branch of physics that studies
            the fundamental constituents of matter and radiation,
            and the interactions between them. It aims to understand
            the most basic building blocks of the universe
            and the forces that govern their behavior.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Section Three End -->

  <!-- Section Category Four Start -->
  <section class="steps steps--background-black">
    <div class="row container-hero">
      <div class="col-12 col-sm-6 d-md-flex col order-sm-1">
        <img src="{% static 'images/pexels-pixabay-87611.webp' %}" alt="Solar Corona"
          class="img-fluid pb-4 steps__section-thumbnail" width="553" height="746" loading="lazy">
      </div>
      <div class="col-12 col-sm-6  col">
        <div class="steps__content-width">
          <h1 class="h2 mb-4">Solar Storms</h1>
          <p class="p-3">
            Solar storms, also known as space weather events,
            are disturbances on the Sun that can have significant effects
            on the solar system, including Earth.
            These storms are primarily caused by solar activity such as solar flares and coronal mass ejections
            (CMEs).
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Section Four End -->

  <!-- section Contributors & ISS-->
  <section class="container-sub steps--background-white">
    <div class="row container-custom">
      <div class="col-12 col-sm-6 d-md-flex col">
        <div class="container-custom">
          <h3 class="text-center" style="padding-bottom: 1.25rem;">Our Latest Contributors on the Blog</h3>
          {% if profile_names %}
          <ul>
            {% for profile in profile_names %}
            <li>{{ profile.first_name }} {{ profile.last_name }}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>No profiles available.</p>
          {% endif %}
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="container-custom">
          <h3>Track The ISS</h3>
          <div class="iframe-container">
            <iframe class="responsive-iframe"
              src="https://isstracker.pl/en/widget/map?&disableInfoBox=1&lang=en&z=4&mapType=satellite&units=metric&preloader=1&showSatTooltip=1&dayNightLayer=1&showFutureOrbit=1"
              style="border: 1px solid rgb(0, 163, 211); border-radius: 0px;" title="ISS">
            </iframe>
          </div>
          <div class="container-custom mt-2">
            <a href="{% url 'iss-location' %}">Go To the ISS</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End section Contributors & ISS -->

  <!-- Newsletter Subscription -->
  <section class="steps steps--background-black" id="newsletter-subscription">
    <div class="row container-custom margin-sub mt-4">
      <div class="col-12">
        <h2>Subscribe to our Newsletter</h2>
      </div>
      <div class="col-12">
        <form method="POST" action="{% url 'subscribe' %}" class="col-12 col-md-8 mx-auto">
          {% csrf_token %}
          <div class="mb-3">
            <label for="id_login" class="form-label">Name:</label>
            <input type="text" class="form-control" id="id_login" name="login" placeholder="Your name" required>
          </div>
          <div class="mb-3">
            <label for="id_email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="id_email" name="email" placeholder="name@example.com" required>
          </div>
          <input type="submit" value="Submit" class="btn btn-secondary custom-submit color-hyperlink me-0">
        </form>
      </div>
    </div>
    <div class="container-custom text-center mt-4">
      <a href="#top-page" class="color-hyperlink">Back to Top</a>
    </div>
  </section>
  <!-- Newsletter Subscription End -->

  {% include 'footer.html' %}

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>