<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Astro Share Blog</title>
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/main.css">
  <style>
    body {
      background-color: black;
      color: white; /* Optional: to make text readable on a black background */
    }
  </style>
</head>
<body>
  <h1>Astro Share Blog</h1>

  <br>
  
  <a href="{% url 'frontpage-blogpost' %}">Back to Frontpage blog post</a>
  <br>

</body>
</html>
