{% extends 'base.html' %}
{% load static %}
{% block title %} This is article details {% endblock %}
{% block content %}

{% with image_url='/images/background.webp' %}
<div class="container-sub" style="background: url('{% static image_url %}') no-repeat fixed top right / cover;">

    <div class="container">
        <h4 style="color: white;"><strong>{{ title }}</strong></h4>

        <div class="d-flex justify-content-center steps--background-white rounded">
            <div class="container-sub">
                <img src="{{ image_url }}" alt="NASA Picture of the Day" class="img-thumbnail">
            </div>

            <div class="container-sub">
                <div class="container-banner">
                    <p>{{ explanation }}</p>
                </div>
            </div>
        </div>

        <div class="text-center mt-4">
            <strong><a href="{% url 'frontpage-blogpost' %}">Return to blogpost</a></strong>
        </div>
    </div>

</div>
{% endwith %}
{% endblock %}