{% extends 'base.html' %}
{% load static %}
{% load truncate_html %}
{% block title %} APOD {% endblock %}
{% block content %}

<div class="container-sub" style="background: url('{% static image_url %}') no-repeat fixed top right / cover;">
    <div class="container-custom">
        <h4 style="color: white;"><strong>{{ title }}</strong></h4>
        <div class="container-sub steps--background-white"> 
            {% if media_type == 'image' %}
            <div class="container-custom">
                <img src="{{ image_url }}" class="img-fluid" alt="{{ title }}" style="max-width: 100%;">
            </div>
            {% elif media_type == 'video' %}
                <iframe src="{{ image_url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="width: 100%; height: 400px;"></iframe>
            {% endif %}
            <p><strong>Date:</strong> {{ date }}</p>
            <p>{{ explanation }}</p>
        </div>
        <div class="text-center mt-4">
            <strong><a href="{% url 'frontpage-blogpost' %}">Return to blogpost</a></strong>
        </div>
    </div>
</div>
{% endblock %}