{% extends 'base.html' %}
{% load static %}
{% block title %}Search{% endblock %}
{% block content %}
{% with image_url='/images/background.webp' %}

<div class="container-sub" style="background: url('{% static image_url %}') no-repeat fixed top right / cover;">
    <div class="container" style="height: 80vh;">
        <h1 style="padding-left: 7rem; color:var(--main-text-color)">Search results</h1>
        <h2 style="padding-left: 10rem; color:var(--main-text-color)">Query "{{ query }}"</h3>
        {% for post in posts %}

        <div class="container-sub steps--background-white rounded">
            <h3>{{ post.title }}</h3>

            <small>{{ post.created_at|timesince }} ago</small>

            <div class="container-banner">
                <p>
                    {{ post.body|slice:":200" }}{% if post.body|length > 200 %}...{% endif %}
                    <a href="{% url 'article-detail' post.pk %}"><small><strong>[read more]</strong></small></a>

                </p>

            </div>
        </div>
        <br>


        {% empty %}
        <div class="container-custom steps--background-white rounded mt-4">
            <h3>No result for the given query...</h3>
            <strong><a href="{% url 'frontpage-blogpost' %}" aria-label="Go to front page"></strong>
            
        </div>
        {% endfor %}
    </div>

        {% endwith %}
        {% endblock %}