{% extends 'base.html' %}
{% block title %} Edit & Update Post {% endblock %}
{% load static %}
{% block content %}

{% with image_url='/images/background.webp' %}

<div class="container-sub" style="background: url('{% static image_url %}') no-repeat fixed top right / cover;">

    {% if user.is_authenticated %}
        {% if user == post.author %}

        <h4>Update Post ...</h4>
        
        <div class="container-sub">
            <div class="d-flex justify-content-center steps--background-white rounded">
                <div class="container-sub">
                    <div class="from-group">                        
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="container-custom">
                                <button class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% else %}
        <!-- Render the 403 template for forbidden access -->
        {% include '403.html' %}
        {% endif %}
    {% else %}
        <!-- Render the 403 template for unauthenticated access -->
        {% include '403.html' %}
    {% endif %}

</div>

{% endwith %}
{% endblock %}
