
    .bg-light {
        background-color: rgba(247, 128, 128, 0.559);
    }
    .bg-gray {
        background-color: rgba(111, 184, 72, 0.544);
    }
    /* li {
        padding: 10px; 
        margin-bottom: 10px; 
    } */
  