/* styles.css */
:root {
    --primary-color: #2a3138;
    --attrib-color0: #3987a6;
    --attrib-color1: #969696;
    --primary-color-highlight: #69b9ff;
    --bs-body-bg: #000000;
    --bs-body-font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    color: var(--primary-color);
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-image: url("../images/background.webp");
    background-size: cover;
    color: hsl(0, 0%, 100%);
}

/* Responsive image classes */
.img-responsive {
    width: 100%;
    height: auto;
}


/* Frontpage */
.first-name,
.last-name {
    color: rgb(128, 128, 128);
    text-transform: capitalize;
}

.last-name {
    text-transform: uppercase;
}

/* Content styling */
.content {
    background: rgba(78, 77, 155, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

/* Styling for individual posts */
.post {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

/* Alternating background colors for posts */
.bg-light-gray {
    background-color: rgb(137, 137, 137);
}

.bg-dark-gray {
    background-color: rgb(236, 244, 92);
}

.image-container-APOD {
    position: relative;
    display: inline-block;
}

.centered-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
}

.left {
    background-color: lightblue;
}

.right > div {
    background-color: lightcoral;
    margin: 2px;
}

a:hover {
    color: var(--primary-color);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--bs-dark);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Custom Container */
.container-custom {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

/* new styles.css */

@media (max-width: 1111px) {
    .post-3 {
        display: none;
    }
}


@media (max-width: 766px) {
    .p {
        font-size: smaller;
        /* Adjust this value as needed */

    }

    .post-3 {
        display: block;
    }


}


/* end new styles.css */

@media (min-width: 1200px) {
    .container-custom {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container-custom {
        width: 1340px;
    }
}

@media (min-width: 1600px) {
    .container-custom {
        width: 1520px;
    }
}

/* Main Header */
.header {
    z-index: 2;
}

/* Flyout Navigation Bar */
#navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 247, 231);
    z-index: 4;
}

.dropdown-nav__closeNavBtn {
    position: absolute;
    top: 20px;
    right: 16px;
    background-color: rgba(255, 255, 255, 0.6);
}

.dropdown-nav__container {
    height: 100vh;
    padding: 0 1rem;
}

/* Hero Section */
.hero {
    position: relative;
    height: 100vh;
    background-color: var(--primary-color);
    overflow: hidden;
}

@media (min-width: 1400px) {
    .hero__heading {
        font-size: 3.2rem;
    }
}

.hero__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

.hero__overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: 0.5;
    z-index: 1;
}

.hero__content {
    z-index: 1;
}

.hero__content-width {
    max-width: 540px;
}

.hero__scroll-btn {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 1;
    color: var(--bs-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.hero__scroll-btn:hover {
    color: var(--bs-light);
    opacity: 0.8;
}

.hero__scroll-btn .bi {
    transition-delay: 0.8s;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}

/* Steps Section */
.steps {
    padding-top: 40px;
    padding-bottom: 40px;
}

.steps__section-thumbnail {
    height: 240px;
    object-fit: cover;
    margin: 0 auto;
}

.steps__content-width {
    max-width: 456px;
    margin: 0 auto;
}

.steps--background {
    background-color: #FEF8F9;
}

@media (min-width: 544px) {
    /* .img-responsive {
        width: 25%; 
        /* border-radius: 50%; 
        height: auto;
    } */

    .steps {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .steps__section-thumbnail {
        height: auto;
    }
}

/* Footer */
.footer .border-highlight {
    border-top: 1px solid var(--primary-color-highlight);
}
