{% extends 'base.html' %}

{% block title %}Change Password Page{% endblock %}
{% block content %}

<h4>Change Password ...</h4>
<div class="full-height">
    <section class="container-sub">
        <div class="card steps--background-white">
            <div class="container-banner">
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="container-custom">
                            <button type="submit" class="btn btn-primary w-25">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}