{% extends 'base.html' %}
{% load static%}
{% block title %}Change Password Page{% endblock %}
{% block content %}
{% with image_url='/images/background.webp' %}
<div class="container-sub d-flex justify-content-center align-items-center" 
     style="background: url('{% static image_url %}') no-repeat fixed top right / cover; min-height: calc(100vh - 130px);">
     <section class="steps--background-white rounded p-4 shadow-sm text-center" style="width: 100%; max-width: 700px;">
            <div class="container-sub">
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <!-- <div class="container" style="height: 65vh;"></div> -->
                        <div class="container-custom mb-4">
                            <button type="submit" class="btn btn-primary" style="width: 200px;">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container-custom">
                <a href="{% url 'frontpage-blogpost' %}" aria-label="Go to front page"><strong>Back To Blog</strong></a>
            </div>
    </section>
</div>
{% endwith %}
{% endblock %}