{% extends 'base.html' %}
{% load static%}
{% block title %}TY for Subscription{% endblock %}
{% block content %}
{% with image_url='/images/background.webp' %}
<div class="container-sub" style="background: url('{% static image_url %}') no-repeat fixed top right / cover;">   
    <section class="container"  style="padding: 8rem;">
        <div class="container-sub steps--background-white rounded">
            <div class="container-sub ">
                <div class="container-custom">
                    <h1 style="text-align: center;">Please check your email</h1>
                    <img src="/static/images/Verification-Logo-PNG-HD.png" class="img-thumbnail w-25" alt="check-email">
                </div>
                <div class="container-custom">
                    <strong><a href="/">Return to homepage</a></strong>
                </div>
            </div>
        </div>
    </section>
</div>
{% endwith%}
{% endblock %}