{% extends 'base.html' %}
{% load static%}
{% block title %}TY subscription{% endblock %}
{% block content %}
{% with image_url='/images/background.webp' %}
<div class="container-sub" style="background: url('{% static image_url %}') no-repeat fixed top right / cover;">


<h4>Check Your Email</h4>

<section class="container-sub" style="padding-bottom: 2rem;">
            <div class="container-sub steps--background-white rounded">
                <div class="container-custom" style="padding-bottom: 2rem;">
                    
                    <h3>Please check your email</h3>
                    <!-- https://www.pngmart.com/image/276564 -->
                    <img src="/static/images/Verification-Logo-PNG-HD.png" class="img-thumbnail w-25" alt="check-email">
                </div>
                <div class="container-custom">
                    <strong><a href="/">Return to homepage</a></strong>
                </div>
            </div>
        </div>
    </section>


</div>
{% endwith %}

{% endblock %}