{% extends 'base.html' %}
{% load static%}
{% block title %}Check Email{% endblock %}
{% block content %}
{% with image_url='/images/background.webp' %}
<div class="container-sub" style="background: url('{% static image_url %}') no-repeat fixed top right / cover;">
    <section class="container" style="padding: 6rem;">
        <div class="container-sub steps--background-white rounded">
            <div class="container-custom">
                <div class="container-custom"></div>
                <h1>Thank You</h1>
                <p><strong>For Subcribing</strong></p>
                <img src="/static/images/TY-for-subcribing.jpg" class="img-thumbnail w-50" alt="TY-for-subcribing">
            </div>
            <div class="container-custom">
                    <strong><a href="/">Return to homepage</a></strong>
            </div>
        </div>
    </section>
</div>
{% endwith %}
{% endblock %}