{% extends 'base.html' %}
{% load static%}
{% block title %} Create a New Profile Page {% endblock %}
{% block content %}
{% with image_url='/images/background.webp' %}
<div class="container-sub" style="background: url('{% static image_url %}') no-repeat fixed top right / cover;">

{% if user.is_authenticated %}

<h1 style="color: var(--main-text-color);">Create Profile Page</h1>
<section>
    <div class="form-group">
        <div class="container-sub">
            <div class="card steps--background-white">
                <div class="container-banner">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="container-custom">
                            <button type="submit" class="btn btn-primary w-25">Create Profile Page</button>
                        </div>
                    </form>
                </div>
                <div class="container-custom mb-3">
                    <a href="{% url 'frontpage-blogpost' %}" aria-label="Go to front page"><strong>Back To Blog</strong></a>
                </div>
            </div>
            
        </div>
</section>
{% endif %}
</div>
{% endwith %}
{% endblock %}