{% extends 'base.html' %}
{% block title %} Edit Profile Page {% endblock %}
{% block content %}

<h4>Edit Settings ... </h4>
<div class="full-height">
    <section>
        <div class="card steps--background-white">
            <div class="row container-banner">
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}

                        {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                <li>{{ field }}: {{ error }}</li>
                                {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        <!-- Render the form fields with current user data -->
                        <div class="m-3">
                            <label for="id_username" class="form-label">Username</label>
                            {{ form.username }}
                        </div>

                        <div class="m-3">
                            <label for="id_first_name" class="form-label">First Name</label>
                            {{ form.first_name }}
                        </div>

                        <div class="m-3">
                            <label for="id_last_name" class="form-label">Last Name</label>
                            {{ form.last_name }}
                        </div>

                        <div class="m-3">
                            <label for="id_email" class="form-label">Email</label>
                            {{ form.email }}
                        </div>

                        <div class="m-3">
                            <a href="{% url 'password-change' user.pk %}" class="btn btn-secondary btn-sm">Change
                                Password</a>
                            <div>
                                <label class="form-label"><small><strong>Last Logged In:</strong></small></label>
                            </div>
                            <div>
                                <small>{{ user.last_login }}</small>
                            </div>
                        </div>


                        <div class="container-custom">
                            <button class="btn btn-primary">Update Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}