{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Profile Page{% endblock %}
{% block content %}
{% with image_url='/images/background.webp' %}
<div class="d-flex justify-content-center align-items-center" style="background: url('{% static image_url %}') no-repeat fixed top right / cover; min-height: calc(100vh - 130px);">

    {% if user.is_authenticated %}
    {% if user.id == profile.user.id %}

    <div class="steps--background-white rounded p-4 shadow-sm" style="width: 100%; max-width: 600px;">
        <!-- Form Section -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                <label for="bio" class="form-label">Bio</label>
                <textarea class="form-control" id="bio" name="bio" rows="4" placeholder="Bio of the post" required>{{ profile.bio }}</textarea>
            </div>

            <div class="mb-3">
                <label for="website_url" class="form-label">Website URL</label>
                <input type="text" class="form-control" id="website_url" name="website_url" placeholder="Website URL" value="{{ profile.website_url }}" required>
            </div>

            <div class="mb-3">
                <label for="twitter_url" class="form-label">Twitter URL</label>
                <input type="text" class="form-control" id="twitter_url" name="twitter_url" placeholder="Twitter URL" value="{{ profile.twitter_url }}" required>
            </div>

            <div class="mb-3">
                <label for="instagram_url" class="form-label">Instagram URL</label>
                <input type="text" class="form-control" id="instagram_url" name="instagram_url" placeholder="Instagram URL" value="{{ profile.instagram_url }}" required>
            </div>

            <div class="mb-3">
                <label for="facebook_url" class="form-label">Facebook URL</label>
                <input type="text" class="form-control" id="facebook_url" name="facebook_url" placeholder="Facebook URL" value="{{ profile.facebook_url }}" required>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <a href="{% url 'edit-profile' %}" class="btn btn-primary">Edit Settings</a>
                <button type="submit" class="btn btn-primary">Update Profile</button>
            </div>
        </form>

        <!-- Back to Blog Link -->
        <div class="text-center mt-4">
            <a href="{% url 'frontpage-blogpost' %}" class="btn btn-secondary mt-3">Back To Blog</a>
                </div>
    </div>

    {% else %}
    <p class="text-center">Sorry, you do not have access to this page.</p>
    {% endif %}

    {% else %}
    <p class="text-center">You need to <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> to make changes.</p>
    {% endif %}

</div>
{% endwith %}
{% endblock %}
