{% extends 'base.html' %}
{% load static%}
{% block title %} Edit Profile Page {% endblock %}
{% block content %}
{% with image_url='/images/background.webp' %}
<div class="container-sub" style="background: url('{% static image_url %}') no-repeat fixed top right / cover;">
    {% if user.is_authenticated %}
    {% if user.id == profile.user.id %}    
    <!-- <h1 style="color:var(--main-text-color)">Edit Profile Page</h1> -->
    <div class="container-banner">
        <section class="container-sub">
            
            <div class="card steps--background-white">
                <div class="container-banner">
                    <div class="form-group">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="m-3">
                                <label for="bio" class="form-label">Bio</label>
                                <textarea class="form-control" id="bio" name="bio" rows="4"
                                    placeholder="Bio of the post" required>{{ profile.bio }}</textarea>
                            </div>

                            <div class="m-3">
                                <label for="website_url" class="form-label">Website URL</label>
                                <input type="text" class="form-control" id="website_url" name="website_url"
                                    placeholder="Website URL" value="{{ profile.website_url }}" required>
                            </div>

                            <div class="m-3">
                                <label for="twitter_url" class="form-label">Twitter URL</label>
                                <input type="text" class="form-control" id="twitter_url" name="twitter_url"
                                    placeholder="Twitter URL" value="{{ profile.twitter_url }}" required>
                            </div>

                            <div class="m-3">
                                <label for="instagram_url" class="form-label">Instagram URL</label>
                                <input type="text" class="form-control" id="instagram_url" name="instagram_url"
                                    placeholder="Instagram URL" value="{{ profile.instagram_url }}" required>
                            </div>

                            <div class="m-3">
                                <label for="facebook_url" class="form-label">Facebook URL</label>
                                <input type="text" class="form-control" id="facebook_url" name="facebook_url"
                                    placeholder="Facebook URL" value="{{ profile.facebook_url }}" required>
                            </div>

                            <div class="container-custom">
                                <a href="{% url 'edit-profile' %}" class="btn btn-primary">Edit Profile</a>
                                
                                <button type="submit" class="btn btn-primary">Update Profile</button>
                            </div>
                        </form>
                        
                    </div>
                    
                </div>
                <div class="container-custom mb-4">
                    <strong><a href="{% url 'frontpage-blogpost' %}" aria-label="Go to front page">Back To Blog</strong>
                </div>
            </div>
        </section>
    </div>

    {% else %}

    <p>Sorry, you do not have access to this page.</p>

    {% endif %}

    {% else %}

    <p>You need to <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> to make changes.
    </p>

    {% endif %}

</div>
{% endwith %}

{% endblock %}