{% extends 'base.html' %}
{% block title %}Login Page{% endblock %}
{% block content %}

<h4>Login ... </h4>
<div class="full-height">
    <div class="d-flex justify-content-center steps--background-white rounded">
        <div class="container-sub" style="width:85%;">
            <div class="form-group">
                <form method="POST" action="{% url 'subscribe' %}">
                    {% csrf_token %}
                    <div class="row m-3">
                        <label for="exampleFormControlInput1" class="form-label">Username: </label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="login"
                            placeholder="your username">
                    </div>
                    <br>
                    <div class="row m-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" name="password"
                            placeholder="your password" required>
                    </div>
                    
                    <div class="container-custom">
                        <input type="submit" value="Submit"
                            class="btn btn-primary rounded custom-submit color-hyperlink">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}