{% extends 'base.html' %}
{% block title %}Register Page{% endblock %}
{% block content %}


{% with image_url='/images/background.webp' %}
<div class="container" style="background: url('{% static image_url %}') no-repeat fixed top right / cover;">

<h4>Register here ...</h4>
<div class="container-banner">

    <div class="steps--background-white rounded">
        <div class="container-sub">
            <!-- style="font-size: 14px;" -->
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                        <button class="btn btn-primary">Register</button>
              
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endwith %}
{% endblock %}