{% extends 'base.html' %}
{% block title %}Register Page{% endblock %}
{% block content %}
<h4>Register here ...</h4>
<div class="container-sub">

    <div class="d-flex justify-content-center steps--background-white rounded">
        <div class="container-sub">
            <!-- style="font-size: 14px;" -->
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="container-custom">

                        <input type="submit" value="Submit"
                            class="btn btn-primary rounded custom-submit color-hyperlink">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}