:root {
    --primary-color: #ffffff;
    --attrib-color: #3987a6;
    --primary-color-highlight: #bdbdbd;
    --bs-body-bg: #9e9e9e4e;
    --bs-body-font-family: 'Montserrat', sans-serif;
    --accent-color: #ffffff;
    --border-color: #000000;
    --main-text-color: #ffffff;
    --padding-small: 10px;
}

body {
    font-family: var(--bs-body-font-family), Arial, sans-serif;
    height: 100%;
    margin: 0;
    text-align: left;
    background-color: black;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 1rem;
    font-weight: bolder;
}

h2, h4 {
    color: white;
}

h3 {
    padding-top: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

ul {
    list-style-type: none;
}

.black-border {
    text-align: left;
    border-radius: 25px;
    border: 5px solid var(--border-color);
}

.bg-l-gray {
    background-color: rgba(240, 240, 240, 0.67);
}

.bg-d-gray {
    background-color: rgba(210, 210, 210, 0.67);
}

.margin-top-bottom-iss {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Styles for back-to-top-button */
.button-custom {
    margin: 7px auto;
    text-align: center;
    background: var(--accent-color);
    width: fit-content;
    border-radius: 7px;
    border: solid var(--border-color);
    border-style: solid;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: bolder;
    padding: 10px 20px;
    text-decoration: none;
}

.img {
    padding-top: 10px;
}

.card-title {
    padding-top: 15px;
    padding-left: 10px;
}

/* Responsive image classes */
.img-responsive {
    width: 100%;
    height: auto;
}

.img-thumbnail {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
}

.delete-post {
    color: red;
    font-size: 1.75rem;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.form-content {
    text-align: center;
}

.form-content label,
.form-content input {

    margin: 10px auto;
}

.custom-submit {
    padding-top: 10px;
    padding-bottom: 10px;
}

.color-hyperlink {
    color: white;
}

.color-hyperlink:hover {
    color: rgb(255, 0, 0);
}


.d-md-flex {
    display: flex;
    align-items: center;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.image-container {
    flex: 0 0 auto;
    margin: 10px;
}

.content-container {
    flex: 1 1 auto;
    margin: 10px;
}


.first-name,
.last-name {
    font-size: small;
    text-transform: capitalize;
}

.last-name {
    text-transform: uppercase;
}

.container-profile {
    background: rgba(13, 110, 253, 0.25);
    padding: 80px;
    border-radius: 10px;

}

.container-lg {
    padding: 10px;
}

.container-footer {
    max-width: vh100;
}


.italicize {
    /* padding-top: 0.75rem; */
    padding-top: 10px;
    padding-right: 10px;
    font-size: smaller;
    font-style: italic;
    text-align: right;
}

/* Content styling */
.content {
    background: rgba(13, 110, 253, 0.25);
    padding: 60px;
    border-radius: 10px;
    margin: 50px;
}

/* Styling for individual posts */
.post {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
}

.btn {
    margin-top: 5px;
    margin-right: 25px;
    width: 140px;
}



/* Alternating background colors for posts */
.bg-light-gray {
    background-color: rgb(137, 137, 137);
}

.bg-dark-gray {
    background-color: rgb(236, 244, 92);
}

.image-container-APOD {
    position: relative;
    display: inline-block;
    border: 2px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.centered-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
}

.left {
    background-color: lightblue;
}

.right>div {
    background-color: lightcoral;
    margin: 2px;
}

a:hover {
    color: var(--primary-color);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--bs-dark);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.max-height {
    height: vh100;
}

.container-sub {

    width: 100%;
    padding: 1.25rem 1.25rem;
    margin: 0 auto;
}

.container-banner {
    text-align: left;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
}




.margin-sub {
    margin-top: 20px;
    margin-bottom: 20px;
}

.padding-20 {
    padding: 20px;
}



.container-custom {
    text-align: center;
    width: 100%;
    padding: 0 1rem;
    padding-bottom: 0.85rem;
    margin: 0 auto;
    /* display: flex;
    justify-content: space-between; */
}

/* Add this CSS to your stylesheet */
.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

.responsive-iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.hero__head {
    font-size: 4rem;
    font-weight: bolder;
}

.hero__text {
    font-size: 3.5rem;
}

/* Main Header */
.header {
    z-index: 2;
}

/* Flyout Navigation Bar */
#navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 247, 231);
    z-index: 4;
}

.dropdown-nav__closeNavBtn {
    position: absolute;
    top: 20px;
    right: 16px;
    background-color: rgba(255, 255, 255, 0.6);
}

.dropdown-nav__container {
    height: 100vh;
    padding: 0 1rem;
}

/* Hero Section */

.hero {
    --primary-color: #ffffff00;
    position: relative;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

.hero__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

.hero__overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: 0.5;
    z-index: 1;
}

.hero__content {
    z-index: 1;
}

.hero__content-width {
    max-width: 540px;
}

.hero__scroll-btn {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 1;
    color: var(--bs-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.hero__scroll-btn:hover {
    color: var(--bs-light);
    opacity: 0.8;
}

.hero__scroll-btn .bi {
    transition-delay: 0.8s;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-10px);
    }
}

/* Steps Section */
.steps {
    padding-top: 40px;
    padding-bottom: 40px;
}

.steps__section-thumbnail {
    height: 240px;
    object-fit: cover;
    margin: 0 auto;
}

.steps__content-width {
    max-width: 456px;
    margin: 0 auto;
}

.steps--background-white {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.steps--background-black {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* Footer */
.footer .border-highlight {
    border-top: 1px solid var(--primary-color-highlight);
    padding-top: 10px;
}

.hero__hea²d {
    font-size: 2.5rem;
    font-weight: bolder;
}

.hero__text {
    font-size: 1.65rem;
}




/* Media queries for responsiveness */

@media (max-width: 1600px) {
    .iframe-container {
        height: 300px;
        max-width: 100%;
    }

    .hero__head {
        font-size: 2rem;
        font-weight: bolder;
    }

    .hero__text {
        font-size: 1.2rem;
    }
}

@media (max-width: 1200px) {
    .iframe-container {
        height: 175px;
        max-width: 100%;
    }

    .hero__head {
        font-size: 1.9rem;
        font-weight: bold;
    }

    .hero__text {
        font-size: 0.85rem;
    }
}

/* Media Queries for Responsiveness */
@media (max-width: 1600px) {
    .iframe-container {
        height: 300px;
    }
    .hero__head {
        font-size: 2rem;
    }
    .hero__text {
        font-size: 1.2rem;
    }
}

@media (max-width: 1200px) {
    .iframe-container {
        height: 175px;
    }
    .hero__head {
        font-size: 1.9rem;
    }
    .hero__text {
        font-size: 0.85rem;
    }
}

@media (min-width: 544px) {
    .steps {
        padding: 80px 0;
    }
    .steps__section-thumbnail {
        height: auto;
    }
}

@media (max-width: 380px) {
    span, h5 {
        font-size: small;
    }
    .container-banner {
        padding: 1px;
        margin: 1px;
    }
}